input, textarea {
   display: block; 
   padding: 5px;
   margin-bottom: 1em;
   border: 1px solid #d8d8d8;
}

#comments {
    width: 80%;
    margin: 0 auto;
}

#comments input[type=text],
#comments textarea {
  width: 100%;  
}

#ce_list {
    font-size: 12px;
    margin-bottom: 14px;
}

#ce_list h5 {
    font-size: 16px;
    padding: 10px 0;
}

#ce_list p {
    margin-top: 10px;
}

#ce_form label {
    font-size: 14px;
}

#ce_form {
    margin-top: 12px;
}

time, .posted {
    color: #666;
}

#ce_list ul {
   margin-top: 14px;
   padding-left: 0;
}

#ce_list ul li {
   list-style: none;
   padding: 14px 0;
   border-bottom: 1px solid #d8d8d8;
}
