input, textarea {
   display: block; 
   padding: 5px;
   margin-bottom: 1em;
   border: 1px solid #d8d8d8;
}

#ce_list {
    max-width: 400px;
}

#ce_list ul {
   padding-left: 0;
}

#ce_list ul li {
   list-style: none;
   padding-bottom: 1em;
   border-bottom: 3px solid #d8d8d8;
}
