#recent {
  width: 700px;
  margin: 0 auto;
}
#recent article {
  margin-top: 0;
}
#recent h2 {
  display: none;
}
#recent h3 {
  margin-bottom: 15px;
}
#recent h3 a {
  text-decoration: none;
  color: black;
}
#recent img {
  width: 100%;
  margin: 3px 0;
}
#recent header {
  overflow: hidden;
}
#recent .info_container {
  color: #777;
}
#recent .info_container span {
  float: left;
  line-height: 1.4em;
}
#recent .info_container time {
  float: right;
  font-style: italic;
}
#recent p {
  clear: both;
  margin-top: 10px;
  line-height: 1.2;
}
#recent .read-more {
  display: block;
  text-align: right;
  margin: 0 auto;
  width: 80%;
}
#recent .tags {
  margin: 20px 0 0 0;
  text-align: center;
}
#recent .tags a {
  display: inline-block;
  background: none repeat scroll 0% 0% #F2F2F2;
  color: #999;
  -webkit-transition: color 0.2s ease-in-out 0s, background-color 0.2s ease-in-out 0s, border-color 0.2s ease-in-out 0s;
  -moz-transition: color 0.2s ease-in-out 0s, background-color 0.2s ease-in-out 0s, border-color 0.2s ease-in-out 0s;
  -ms-transition: color 0.2s ease-in-out 0s, background-color 0.2s ease-in-out 0s, border-color 0.2s ease-in-out 0s;
  -o-transition: color 0.2s ease-in-out 0s, background-color 0.2s ease-in-out 0s, border-color 0.2s ease-in-out 0s;
  transition: color 0.2s ease-in-out 0s, background-color 0.2s ease-in-out 0s, border-color 0.2s ease-in-out 0s;
  border: 1px solid #E4E4E2;
  text-decoration: none;
  font-style: italic;
  font-size: 0.9em;
  line-height: inherit;
  padding: 2px 8px 3px;
  margin: 3px 1px;
}
#recent .tags a:hover {
  color: red;
  background-color: yellow;
  border-color: yellow;
}
#recent footer {
  padding-bottom: 30px;
  margin-bottom: 30px;
  margin-top: 15px;
  border-bottom: 1px #ddd solid;
}

/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
