@font-face {
    font-family: 'beerFont';
    src: url(../fonts/dkhokitika.eot);
    src: url(../fonts/dkhokitika.eot?#iefix) format('embedded-opentype'),
         url(../fonts/dkhokitika.woff) format('woff'),
         url(../fonts/dkhokitika.ttf) format('truetype'),
         url(../fonts/dkhokitika.svg#dk_hokitikaregular) format('svg');
    font-weight: normal;
    font-style: normal;

}

#top-header {
	border-top: 4px solid #000;
	font-family: 'beerFont';
	margin-top: 2em;
	padding-bottom: 0;
	padding-top: 24px;
}

.post em { font-style: italic; }

.post footer {
	margin-top: 3%;
	padding-bottom: 5%;
}

.post .dots {
	padding-bottom: 15px;
	font-size: 2em;
	text-align: center;
	letter-spacing: 0.25em;
}

.post time, .post .by, .post .tags {
	font-style: italic;
	color: #555;
}

.post time {
	display: block;
	padding-top: 2.5%;
	text-align: center;
}

.post .by {
	margin: 1.5% 0;
	padding: 10px 0;
	text-align: center;
}

.post .tags { text-align: center; }

#social {
	margin-bottom: 2.5%;
	padding: 2.5% 0;
	text-align: center;
}

#social a + a {
	padding-left: 3%;
}

@media screen and (max-width: 1045px) {
  .post {
    padding: 0 5%;
  }
}

@media screen and (max-width: 435px) {
	h3 {
		text-align: center;
	}

	.post time, 
	.post .by,
	.post .tags { font-size: 0.9em; }
}
